#Сделаю чуть на будущее, Сережа если че то еще добавляй пж

# Виртуальное окружение
venv/
.venv/
env/
.trae


# Кэш Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/

# Логи
*.log
logs/


# Суета для сборки
build/
dist/
*.egg-info/

# Файлы окружения
.env
.env.*

# Временные файлы
*.tmp

# Таблица на будущее лол сюда тоже
weather_result/ 

#Моя личная суета
bot-rule.mdc
